  <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <app-navbar></app-navbar>
         <!-- ============================================================== -->
         <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper fix-header">

         <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" style="padding: 0px;">

                   <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->

                <router-outlet></router-outlet>

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->

                <footer class=" footer text-center">© 2019 Anthony Henriquez.</footer>

            </div>
                <!-- ============================================================== -->
            <!-- END Container fluid  -->
            <!-- ============================================================== -->

        </div>
           <!-- ============================================================== -->
         <!-- END Page wrapper  -->
        <!-- ============================================================== -->
    </div>

