<div class="row">
  <div class="col-12">
    <div class="card mt-5 mx-auto">
      <div class="card-body">
        <div class="error-box">
          <div class="error-body text-center">
            <h1>404</h1>
            <h3 class="text-uppercase">Pagina no encontrada!</h3>
            <p class="text-muted m-t-30 m-b-30">Por favor volver al inicio</p>
            <a [routerLink]="['/']" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Regresar a inicio</a>
          </div>

        </div>

      </div>

    </div>

  </div>

  <footer class=" footer text-center">© 2019 Anthony Henriquez.</footer>
