<div class="row  mt-4">
  <div class="col-6 mx-auto">
    <div class="card">
      <div class="card-body">


            <h4 class="card-title">ADD CUSTOMER</h4>
            <h6 class="card-subtitle">add New Customer</h6>
            <form class="form p-t-20" novalidate>

                <div class="form-group">
                    <label for="exampleInputuname">Name <span class="text-danger">*</span></label>
                    <div class="input-group controls">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input type="text" class="form-control"  placeholder="Name" required data-validation-required-message="This field is required">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputuname">LastName </label>
                    <div class="input-group ">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input type="text" class="form-control" placeholder="LastName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address<span class="text-danger">*</span></label>
                    <div class="input-group controls">
                        <div class="input-group-addon"><i class="ti-email"></i></div>
                        <input type="email" class="form-control"  placeholder="Enter email" required data-validation-required-message="This field is required" data-validation-regex-regex="([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})" data-validation-regex-message="Enter Valid Email">
                    </div>
                </div>

                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                <button [routerLink]="['/']" type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
            </form>



      </div>
    </div>
  </div>
