<div class="row">
  <div class="col-12">
    <div class="card  ">
      <div class="card-body background-card ">


        <div class="col-6 mx-auto my-auto" style="height: 460px; padding-top: 125px; ">

                <h1 class="card-title  " style="color:#006599;">BVentures </h1>
                <h5 class="card-subtitle" style="color:#fff">
                    BVentures is an investment boutique that specializes in finding and facilitating opportunities for
                    investment for new technology companies in the initial stage.
                </h5>

                <button [routerLink]="['/details']" type="button" class="btn  btn-lg btn-info"> Customer Management</button>
        </div>


      </div>
    </div>
  </div>



